body {
	font-family: Georgia, serif;
	max-width: 600px;
	margin: 50px auto;
	line-height: 1.6em;
  font-size: 16px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

a {
  color: #444;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

pre {
	overflow: scroll;
	border: 1px solid #ccc;
	padding: 20px;
  font-size: 12px;
}

code {
  background: #eee;
  font-size: 15px;
}

h2 {
  margin-top: 50px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.api-endpoint {
  margin: 10px 0;
}

.api-endpoint-method, .api-endpoint-path {
  display: inline-block;
  font-weight: normal;
}
.api-endpoint-method {
  width: 95px;
  font-size: 14px;
}

.api-endpoint-path {
  font-size: 15px;
}